@import "../../scss/mixin";
@import "../../scss/variable";

.nav-list {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    img {
      height: 15rem;
      width: 15rem;
      border-radius: 50%;
      object-fit: cover;
      padding: 0.5rem;
      border: 0.5rem solid $color-primary;
    }

    .name {
      font-size: 3rem;
      font-weight: 700;
      color: $color-black;
    }
    .post {
      font-size: 1.6rem;
      color: $color-black;
    }
  }

  .navbar {
    ul {
      list-style: none;
      li {
        text-align: center;
        a {
          text-decoration: none;
          text-transform: uppercase;
          display: block;
          padding: 0.8rem;
          margin: 1.3rem 0;
          background: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
          );
          color: $color-white;
          font-size: 2rem;
          border-radius: 5rem;
          font-weight: 700;

          &:hover {
            background: $color-primary-light;
          }
        }
      }
    }
  }
}
