<div class="nav-list">
  <div class="user">
    <img src="assets/photo.jpg"
         alt="profile" />
    <h3 class="name">Abhilash Pati</h3>
    <p class="post">PhD Cont SOA DU</p>
  </div>
  <nav class="navbar">
    <ul>
      <li>
        <a [routerLink]="['/about']"
           class="btn btn--green">about</a>
      </li>
      <li>
        <a [routerLink]="['/education']"
           class="btn btn--green">qualification</a>
      </li>
      <li>
        <a [routerLink]="['/experience']"
           class="btn btn--green">work experiences</a>
      </li>
      <li>
        <a [routerLink]="['/project']"
           class="btn btn--green">projects</a>
      </li>
      <li>
        <a [routerLink]="['/publications']"
           class="btn btn--green">papers published</a>
      </li>
      <li>
        <a [routerLink]="['/conferences']"
           class="btn btn--green">conferences attended</a>
      </li>
      <li>
        <a [routerLink]="['/reviewedit']"
           class="btn btn--green">reviewer and/or editor</a>
      </li>
      <li>
        <a [routerLink]="['/membership']"
           class="btn btn--green">membership in societies</a>
      </li>
      <li>
        <a [routerLink]="['/contact']"
           class="btn btn--green">contact</a>
      </li>
    </ul>
  </nav>
</div>
