<section class="publications">
  <h1 class="heading gradient-text">{{memberships?.headingGradientText}}</h1>
  <div class="margin-top-6">
    <div class="feature-box-small"
         *ngFor="let membership of memberships?.membershipList">
      <div class="feature-box-small--content"> {{ membership?.publicationDetails }}</div>
      <a href="{{ membership?.externalLink }}"
         target="_blank"
         class="btn--link align-right-bottom">{{ membership?.linkText }}
      </a>
    </div>
  </div>
</section>
