<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer
               class="sidenav"
               fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <div class="nav-list">
      <div class="user">
        <img src="assets/photo.jpg"
             alt="profile" />
        <h3 class="name">Abhilash Pati</h3>
        <p class="post">PhD Cont., SOA DU</p>
      </div>
      <nav class="navbar">
        <ul>
          <li>
            <a [routerLink]="['/about']"
               class="btn btn--green">about</a>
          </li>
          <li>
            <a [routerLink]="['/education']"
               class="btn btn--green">qualification</a>
          </li>
          <li>
            <a [routerLink]="['/experience']"
               class="btn btn--green">work experiences</a>
          </li>
          <li>
            <a [routerLink]="['/project']"
               class="btn btn--green">projects</a>
          </li>
          <li>
            <a [routerLink]="['/publications']"
               class="btn btn--green">papers published</a>
          </li>
          <li>
            <a [routerLink]="['/conferences']"
               class="btn btn--green">conferences attended</a>
          </li>
          <li>
            <a [routerLink]="['/reviewedit']"
               class="btn btn--green">reviewer and/or editor</a>
          </li>
          <li>
            <a [routerLink]="['/membership']"
               class="btn btn--green">membership in societies</a>
          </li>
          <li>
            <a [routerLink]="['/contact']"
               class="btn btn--green">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <button type="button"
            aria-label="Toggle sidenav"
            mat-icon-button
            (click)="drawer.toggle()"
            *ngIf="isHandset$ | async">
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
