<section class="publications">
  <h1 class="heading gradient-text">Publications</h1>

  <div class="margin-top-6">
    <div class="feature-box-small"
         *ngFor="let publication of publications">
      <div class="chip">
        Published
      </div>
      <div class="feature-box-small--content"> {{ publication.publicationDetails }}</div>
      <a href="https://www.google.com/"
         target="_blank"
         class="btn--link align-right-bottom">Read more ...
      </a>
    </div>
  </div>
</section>