@import "./../../../scss/utility";
@import "./../../../scss/button";
@import "./../../../scss/variable";

.publications {
  position: relative;

  .row {
    margin: 7rem;
    .content {
      font-size: 2rem;
      margin-bottom: 2.5rem;
      line-height: 2.5rem;
    }
  }
}
