@import "../../scss/mixin";
@import "../../scss/variable";

.app-container {
  display: grid;
  grid-template-rows: minmax(min-content, 100vh);
  grid-template-columns: [sidebar-start] 25% [sidebar-end content-start] 1fr [content-end];

  @include respond(tab-land) {
    grid-template-columns: [content-start] 1fr [content-end];
  }

  .app-sidebar {
    background-color: $color-grey-light-2;
    @include respond(tab-land) {
      display: none;
    }
  }

  .app-content {
    margin: 0 6rem;
    overflow-y: auto;
  }
}

#menu {
  position: fixed;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  font-size: 3rem;
  padding: 1rem 1.5rem;
  z-index: 1000;
  display: none;

  @include respond(tab-land) {
    display: block;
  }
}

.sticky-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 35rem;
  background-color: $color-grey-light-2;
  height: 100vh;
  overflow-y: auto;
  display: none;
}

.show {
  display: block;
}

.hide {
  display: none;
}
