<section class="education"
         id="education">
  <h1 class="heading">{{educations?.headingNormalText}} <span
          class="gradient-text">{{educations?.headingGradientText}}</span></h1>

  <div class="box-container">
    <div class="box feature-box"
         *ngFor="let education of educations?.educationList">
      <i class="fas fa-graduation-cap"></i>
      <div class="period">
        <span>{{ education?.passingYear }}</span>
      </div>
      <h3>{{ education?.courseName }}</h3>
      <div>
        <p>{{ education?.university }}</p>
      </div>
    </div>
  </div>
</section>
