<section class="about-container">
  <h1 class="heading"><span class="gradient-text">about</span> me</h1>

  <div class="about">
    <h3>Hi There !</h3>
    <h3>Greetings of the day!</h3>
    <h1>This is <span class="gradient-text">Abhilash Pati</span></h1>
    <p>
      Research Scholar, Department of CSE. Hands-on experience at the graduation
      and post-graduation level teaching over ten years at various AICTE and UGC
      approved organizations. Ability to work on divisive and recent trend rese.
      Familiarity working at a College and University department. Remarkable
      ability to teach, inspire and develop young people with excellent written
      and oral communication skills; qualified with UGC-NET (Assistant Professor
      Only), India in December 2019.
    </p>
    <p>
      Currently working as Full Time Research Scholar in the Department of
      Computer Science and Engineering, ITER, Siksha ‘O’ Anusandhan (Deemed to
      be University), Odisha, India. He has completed his B.Tech. and M.Tech. in
      CSE with Biju Patnaik University of Technology, Odisha, India in the year
      2009 and 2012 respectively. His research interests include the Internet of
      Things, Fog Computing, Machine Learning and Deep Learning, and has more
      than 7 papers to his account.
    </p>

    <ul class="research-link">
      <li>
        <a href="https://scholar.google.com/citations?hl=en&user=m0RnTsQAAAAJ"
           target="_blank">Google Scolar Id
          <span><i class="fas fa-arrow-right"></i></span>
        </a>
      </li>
      <li>
        <a href="https://www.scopus.com/authid/detail.uri?authorId=57224409660"
           target="_blank">Scopus Id <span><i class="fas fa-arrow-right"></i></span></a>
      </li>
      <li>
        <a href="https://www.researchgate.net/profile/Abhilash-Pati"
           target="_blank">ResearchGate Id <span><i class="fas fa-arrow-right"></i></span></a>
      </li>
    </ul>
  </div>
</section>
