<section class="projects">
  <h1 class="heading gradient-text"> Projects </h1>

  <div class="margin-top-6">
    <div class="feature-box-small">
      <div class="feature-box-small--content">Thesis on DIGITAL WATERMARKING in
        Intelligence, Cryptography at my M.Tech</div>
      <a href="https://www.google.com/"
         target="_blank"
         class="btn--link align-right-bottom">Read more ...
      </a>
    </div>
    <div class="content feature-box-small">
      <div class="feature-box-small--content">Project on
        ONLINE TESTING SYSTEM using C, C++
        languages & Computer Graphics at my B.Tech</div>
      <a href="https://www.google.com/"
         target="_blank"
         class="btn--link align-right-bottom">Read more ...
      </a>
    </div>
  </div>
</section>