<section class="projects">
  <h1 class="heading"><span>Projects</span></h1>

  <div class="row">
    <div class="content feature-box-small">
      <span class="heading-primary">Thesis on <span class="heading-primary"> DIGITAL WATERMARKING</span> in
        Intelligence, Cryptography at my M.Tech</span>
    </div>
    <div class="content feature-box-small">
      <span class="heading-primary">Project on
        <span class="heading-primary">ONLINE TESTING SYSTEM </span> using C, C++
        languages & Computer Graphics at my B.Tech</span>
    </div>
  </div>

  <a [routerLink]="['/publications']"
     class="float-button"><button class="btn">know more</button></a>
</section>
