@import "./variable";

.btn {
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.7rem 3rem;
  background: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
  color: $color-white;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 2rem;
  border-radius: 5rem;
  i {
    padding: 0 0.5rem;
    font-size: 1.8rem;
  }

  &:hover {
    background: $color-primary-light;
  }
}

.float-button {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
